<h1>Here are the details:</h1>
<h2><strong><%= @restaurant.name %></strong></h2><p> <strong>Cuisine:</strong> <%= @restaurant.category %>, <strong>Address: </strong> <%= @restaurant.address %>, <strong>Phone:</strong> >><%= @restaurant.phone_number %></p>



